.venv/
venv/
__pycache__/

*.pyc

.env
.env.*

models/
output/
outputs/
runs/
checkpoints/

*.pth
*.pt
*.onnx
*.engine
*.safetensors

**/summary/
events.out.tfevents.*

data/coco_dataset/train2017/
data/coco_dataset/val2017/
data/coco_dataset/test2017/
data/coco_dataset_solder_only/

*.log
my_resume_log.txt

*_pred.jpg
viz_*.jpg
loss_curve.png
metrics_curve.png
training_metrics.csv